@model MyResume.Entities.Admin
@{
    ViewBag.Title = "UpdateAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>UpdateAdmin</h2>

<div class="container-fluid">
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">Update Admin</h3>
        </div>
        <div class="card-body">
            <form role="form" method="post" action="/Admin/UpdateAdmin/">
                <div class="row">
                    <div class="col-sm-6" hidden>
                        <div class="form-group">
                            <label>Admin Id</label>
                            <input type="text" class="form-control" placeholder="admin id" name="AdminId" value="@Model.AdminId">                           
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>User Name</label>
                            <input type="text" class="form-control" placeholder="user name" name="UserName" value="@Model.UserName">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="password" name="Password" value="@Model.Password">
                        </div>
                    </div>                 
                </div>               
                <button type="submit" class="btn btn-outline-success col-md-12">Update New Admin</button>
            </form>
        </div>
    </div>
</div>

